html {
  position: relative !important;
  min-height: 100% !important;
}

body {
  margin-bottom: 120px !important;
}

.footer {
  font-size: smaller !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  background: #322a4f !important;
}

.navbar {
  background: #4d417a !important;
}

.btn-primary, .btn-primary:visited {
    background: #4d417a !important;
    border-color: #4d417a !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #431e38 !important;
    border-color: #522a4f !important;
}

.btn-secondary, .btn-secondary:visited {
  background: #8E63C3 !important;
  border-color: #8E63C3 !important;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background: #6d417a !important;
  border-color: #4d417a !important;
}

.navbar-brand {
    letter-spacing: .2rem;
    font-family: Georgia, serif;
    font-variant: small-caps;
    text-shadow: 1px 1px 0 #92a5b8, 1px 2px 0 #111;
}

.nav-item {
    padding-right: 0.5em;
}

.icon-bar img {
    padding: 0.2em;
    height: 2em;
}
