{% set selected = 3 %}
{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block title %}
Contact Brianna
{% endblock %}
{% block content %}
<div class="col-lg-12">
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-top border-bottom mb-4">Send an email to Brianna Rainey 📬</legend>
			<div class="form-group">
				{{ form.mail_subject.label(class="form-control-label") }}
				{% if form.mail_subject.errors %}
				{{ form.mail_subject(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.mail_subject.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.mail_subject(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.mail_body.label(class="form-control-label") }}
				{% if form.mail_body.errors %}
				{{ form.mail_body(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.mail_body.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.mail_body(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.sent_by.label(class="form-control-label") }}
				{% if form.sent_by.errors %}
				{{ form.sent_by(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.sent_by.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.sent_by(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-success") }}
		</div>
	</form>
</div>
{% endblock %}
