<!-- Jezzball starts -->
<script type="module" src="{{ url_for('static', filename='js/jezzball-thumb/main.js') }}"></script>
<script>
    let start_update_jezzball_caption_margin = () => {
        let gamediv = document.querySelector("#game");
        let canvas = gamediv.querySelector("canvas");
        let jezzball_caption = gamediv.querySelector(".card .game-caption");
        let update_jezzball_caption_margin = () => {
            jezzball_caption.style.marginTop = `${canvas.clientHeight.toString()}px`;
        }
        window.addEventListener("resize", update_jezzball_caption_margin);
        update_jezzball_caption_margin();
    }
    window.addEventListener("load", start_update_jezzball_caption_margin);
</script>
<style>
    #game {
        min-width: 250px;
        position: relative;
    }

    canvas {
        border: 2px solid black;
        width: 100%;
    }

    #ui-layer {
        z-index: 3;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #slow-layer {
        z-index: 2;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #game-layer {
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
<canvas id="ui-layer" width="250" height="160"></canvas>
<canvas id="slow-layer" width="250" height="160"></canvas>
<canvas id="game-layer" width="250" height="160"></canvas>
